<h1 style="text-align: center;">About us</h1>

<blockquote style="background-color: ghostwhite; margin-left: 30%; width: 35%;">
<p>We are the champions - my friend</p>
<p>And we'll keep on fighting till the end</p>
<p>We are the champions</p>
<p>We are the champions</p>
<p>No time for losers</p>
<p>Cause we are the champions of the world</p>
</blockquote>
